<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Primera Clase</title>

    <!-- Estilos -->
    <link rel="stylesheet" href="main.css">

    <!-- Importación de Vue.js por CDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

    <!-- HTML con renderización declarativa -->
    <div id="app">
        <div class="wrapper">
            <h1>Presentación en el curso de Vue.js</h1>
            <h2>Datos personales</h2>
            <ul>
                <li>Nombre Completo: {{ `${firstName} ${lastName}` }}</li>
                <li>Edad: {{ 2020 - yearOfBirth }}</li>
                <li>Lugar de procedencia: {{ placeOfOrigin }}</li>
                <li>Perfil de github: <a :href="githubProfile">Click para ver perfil de Cristopher Perez</a></li>
            </ul>
            <h2>Experiencia con CSS</h2>
                <p :style="!menosDecincuenta ? 'color: green' : 'color: red'">{{cssExperience}}</p>
                <!-- Esto se puede borrar -->
                <!-- <h4>Ayudame con unos indicadores de colores</h4>
                <h5 style="color: green">Si el texto tiene menos de 50 caracteres</h5>
                <h5 style="color: red">Si el texto tiene mas de 50 caracteres</h5> -->
                <!-- / -->
            <h2>Experiencia con JS</h2>
                <p :style="masDecincuenta ? 'color: red' : 'color: green'">{{jsExperience}}</p>
                <!-- Esto se puede borrar -->
                <!-- <h4>Ayudame con unos indicadores de colores</h4> -->
                <!-- <p>{{ jsExperience <= 50 ? 'color:green' : 'color:red'}}</p> -->
                <!-- <p :style="jsExperience < 50 ? 'color:green' : 'color:red' "></p> -->
                <!-- <p v-if="jsExperience < 50 'color:green' : 'color:red'"></p> -->
                <!-- <h5 style="color: green">Si el texto tiene menos de 50 caracteres</h5>
                <h5 style="color: red">Si el texto tiene mas de 50 caracteres</h5> -->
                <!-- / -->
            <h2>Cursos</h2>
                <ul>
                    <!-- <li>[Mostrar de la siguiente manera: <b>*Nombre del curso* - *Fecha de finalización*</b>]</li> -->
                    <!-- <li><b v-for="(cantidad, key) in courses" :key="`cantidad-${key}`">{{`${key} - ${cantidad}`}}</b></li> -->
                    <li v-for="course in courses"><b>{{course.title}}: {{course.endDate}}</b></li>
                </ul>
                <!-- <h3>[Si no tenemos cursos, deberíamos mostrar un mensaje indicandolo]</h3> -->
            <h2>Proyectos</h2>
                <ul>
                    <!-- <li>[Mostrar de la siguiente manera: <b>*Nombre del proyecto* - *link hacia el repositorio o demo*</b>]</li> -->
                    <!-- <li v-for="(cantidad, key) in projects" :key="`cantidad-${key}`"><b>{{`${key} - ${cantidad}`}}</b></li> -->
                    <li v-for="project in projects"><b>{{project.title}}: <a :href="project.link">Tabifit DoctaDevs</a></b></li>
                </ul>
                <!-- <h3>[Si no tenemos proyectos, deberíamos mostrar un mensaje indicandolo]</h3> -->
        </div>
    </div>
    <!-- / -->

    <!-- Su JS aquí debajo por favor... -->
    <script>
        var app = new Vue({
            el: '#app', // Este será el id de la tarjeta contenedora de nuestra App Vue.js
            data: {

                // Datos personales

                firstName: 'Cristopher',
                lastName: 'Perez',
                yearOfBirth: 1988,


                // ***AGREGAR VARIABLES***
                placeOfOrigin: 'Córdoba, Argentina',
                githubProfile: 'https://github.com/cristopherperez',
                // Otros datos
                menosDecincuenta: true,
                masDecincuenta: true,
                cssExperience: 'Se un poco de todo, colores, posiciones principalmente con flex, algo de animaciones, margin, padding, variables.', // Modíficá este texto
                jsExperience: 'JS nativo, web components, templates, funciones, eventos. Estoy en lo basico aún, pero entiendo los códigos y los se leer', // Modificá este texto

                courses: [
                    {title: 'Desarrollo WebFullStack DoctaDevs', endDate: '5/10/2020'},
                    ], // Los objetos deberían tener una forma similar a {title: String, endDate: String}
                projects: 
                // {
                //     'Tabifit DoctaDevs': 'https://github.com/cristopherperez/Tabifit'
                // }, 
                [
                    {title: 'Tabifit DoctaDevs', link:'https://github.com/cristopherperez/Tabifit'},
                ],
                // Los objetos deberían tener una forma similar a {title: String, link: String}
            }
        })
    </script>
    <!-- / -->
</body>
</html>